/* connect with us box index */

.head-contact-con {
	background: #387782;
	width: 46%;
	float: left;
}

.head-contact-group {
	width: 90%;
	float: right;
}

.head-contact-group .titles {
	color: #fff;
}

.head-contact-con .titles.large {
	border: none;
	padding: 18px 0;
	text-align: center;
}

.head-contact {
	width: 46%;
	float: left;
	margin: 0 2% 5%;
}

.head-contact .tile {
	margin: 0 0 25px;
}

.head-contact .contact-name {
	width: 100%;
	display: block;
	text-align: center;
	color: #fff;
	font-family: 'museo_sans100';
	font-weight: normal;
	font-size: 18px;
	margin: 0 0 20px;
}

.head-contact .contact-social {
	margin: 0 auto;
	width: 138px;
	padding: 0 0 15px;
	height: 32px;
}

.head-contact .contact-social li {
	float: left;
	margin: 0 4px 0 0;
}

.head-contact .contact-social .social-ico {
	display: block;
	text-indent: 999px;
	background-repeat: no-repeat;
	overflow: hidden;
	background-image: url('../images/social_sprite.png');
	width: 30px;
	height: 30px;
}

.contact-social .fb { background-position: 0 -30px; }
.contact-social .tw { background-position: -30px -30px; }
.contact-social .ln { background-position: -60px -30px; }
.contact-social .in { background-position: -90px -30px; }
.contact-social .rs { background-position: -120px -30px; }
.contact-social .yt { background-position: -150px -30px; }
.contact-social .gp { background-position: -180px -30px; }
.contact-social .pi { background-position: -210px -30px; }
.contact-social .wp { background-position: -240px -30px; }


.contact-social .fb:hover { background-position: 0 0; }
.contact-social .tw:hover { background-position: -30px 0; }
.contact-social .ln:hover { background-position: -60px 0; }
.contact-social .in:hover { background-position: -90px 0; }
.contact-social .rs:hover { background-position: -120px 0; }
.contact-social .rs:hover { background-position: -120px 0; }
.contact-social .yt:hover { background-position: -150px 0; }
.contact-social .gp:hover { background-position: -180px 0; }
.contact-social .pi:hover { background-position: -210px 0; }
.contact-social .wp:hover { background-position: -240px 0; }

.head-contact .contact-email, .head-contact .contact-phone {
	color: #fff;
	width: 100%;
	float: left;
	text-align: center;
	font-size: 14px;
	margin: 0 0 10px;
}

@media only screen and (max-width: 120.063em) {
	.wrapper.head-contact-group {
		max-width: 542px; /* 0.43 */
	}
} 

@media only screen and (max-width: 90.063em) {
	.wrapper.head-contact-group {
		max-width: 100%; 
	}
} 

@media only screen and (max-width: 64.063em) {

	.head-contact .contact-social li {
		margin: 4px;
	}

	.head-contact .contact-social {
		width: 76px;
		height: 76px;
	}

	.head-contact .contact-email, .head-contact .contact-phone {
		font-size: 12px;
	}

}

@media only screen and (max-width: 40.063em) { 

	.head-contact-con {
		width: 100%;
	}

	.head-contact-group {
		width: 100%;
	}

	.head-contact .contact-email, .head-contact .contact-phone {
		font-size: 14px;
	}

}

/* map search index */

.map-search-index-con {
	background: url('../images/map_bg.gif') center center;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	width: 54%;
	float: left;
}

.map-search-index-con .titles.large {
	background: rgba(0, 0, 0, .6);
	padding: 18px 50px;
	color: #fff;
}

.map-search-index-con .map-search-index.form {
	width: 80%;
	margin: 33% auto 0;
	display: block;
	float: none;
}

.map-search-index-con .map-search-index.wrapper.form {
	max-width: 634px;
	margin: 210px 0 0 60px;
}

.map-search-index-con .map-search-index.form input {
	width: 70%;
}

.map-search-index-con .map-search-index.form button {
	width: 30%;
}

@media only screen and (max-width: 40.063em) { 

	.map-search-index-con .map-search-index.form input, .map-search-index-con .map-search-index.form button {
		width: 100%;
	}

	.map-search-index-con {
		width: 100%;
	}

	.map-search-index-con .map-search-index.form {
		margin: 18% auto;
	}

	.map-search-index-con .map-search-index.wrapper.form {
		margin: 60px 0 60px 45px;
	}

}